.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.25s ease-out;
}

/* Tarjeta del modal */
.modal-card {
  background: rgb(17, 17, 17);
 padding: 60px 20px 20px 20px; 
  border-radius: 16px;
  text-align: center;
  position: relative;
  animation: scaleIn 0.25s ease-out;
 max-width: 330px;    
  max-height: 50vh;     
  overflow-y: auto;   
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* Botón cerrar */
.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ffdddd;
  color: #cc0000;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* Imagen */
.modal-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
}

/* Nombre */
.modal-name {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Base tag */
.my-tag {
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 14px;
  display: inline-block;
}

/* Colores */
.tag-blue {
  background: #cfe9ff;
  color: #104a7a;
}

.tag-purple {
  background: #e0d6ff;
  color: #4a2a99;
}

.tag-green {
  background: #dff8d8;
  color: #2a6b23;
}

.tag-yellow {
  background: #fff6c8;
  color: #7a6b1b;
}

.tag-orange {
  background: #ffe0c8;
  color: #8b3f00;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}